.createEditPage {
    position:relative;
    top:90px;
    background-color:white;
    width:100%;
    box-shadow: 0 4px 2px -2px #3e8ba9, 0 2px 5px lightgrey !important;
    border-radius:3px !important;
    // border: 1px 1px 0 1px solid black !important;
    text-align:left;
    margin-bottom:40px;
}

.recipeContent {
    display:flex;
    flex-direction: row;
    justify-content: center;
    position:relative;
    padding:20px 20px 20px 40px;

}

.recipePhoto {
    // width:100%;
    max-height:20em;
    overflow:hidden;
    margin-top:20px;
}

.recipeDesc {
    margin: 20px 0;
}

.MuiTypography-h6 {
    line-height: 1em !important;

}

.recipeIntro {
    width:25%;
    padding:20px;
}

.tagChips {
    display:inline;
}

.recipeIngr {
    width:40%;
    padding:20px 0;
}

.recipeSteps {
    width:35%;
    padding:20px;
}

.MuiFab-root {
    box-shadow: 0 3px 5px -1px lightgray !important;
}

.recipeButtons {
    display:flex;
    justify-content: flex-end;
    padding: 10px;
    margin:10px;
}

ol li {
    margin: 15px 0;
    line-height:1.2rem;
}

ul li {
    margin: 0px 0;
    line-height:1.2rem;
}

.deleteBtn {
    background-color:rgba(255, 255, 255, 0);
    border:none;
    outline:0;
    cursor:pointer;
    vertical-align: bottom;
    color: #3e8ba9;
    &:hover {
        color: #204150;
        outline:0;
    }
    &:active {
        outline:0;
        color: #658794;
    }
    &:visited {
        outline:0;
    }
}

.addRow {
    margin:20px 0;
}

.submitBtn {
    color: white;
    background-color: #de6a57;
    border:none;
    height:100%;
    font-size: 1em;
    font-weight:bold;
    border-radius: 25px;
    padding: 8px 20px 8px 20px;
    text-transform: uppercase;
    box-shadow: 0 4px 2px -2px lightgrey;
    outline:0;
    margin:5px;
    &:hover {
        cursor:pointer;
        background-color: #ca5c4b;
        outline:0;
    }
    &:active {
        outline: 0;
        box-shadow: inset 0px 0px 5px lightgrey;
    }
    &:visited {
        outline:0;
    }
}

.cancelBtn {
    color:  #de6a57;
    background-color: #ffffff00;
    border:none;
    height:100%;
    font-size: 1em;
    font-weight:bold;
    border-radius: 25px;
    padding: 6px 10px 6px 10px;
    text-transform: uppercase;
    // box-shadow: 0 4px 2px -2px lightgrey;
    outline:0;
    margin:5px;
    border:2px solid #de6a57;
    &:hover {
        cursor:pointer;
        background-color: rgba(248, 248, 248, 0.541);
        outline:0;
        box-shadow: 0 2px 2px -2px darkgray;
    }
    &:active {
        outline: 0;
        box-shadow: inset 0px 0px 5px lightgrey;
    }
    &:visited {
        outline:0;
    }
}