body{
    background-color: whitesmoke;
}

.App {
    text-align: center;
    background-color: whitesmoke;
    /* overflow-y: scroll; */
}

/* .App-logo {
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
} */

.App-link {
     color: #09d3ac;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    position:fixed;
    top:0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    color: whitesmoke;
    background-color: white;
    /* border-bottom: .2vh solid whitesmoke; */
    /* margin: 0 0 5vh 0; */
    box-shadow: 0 3px 5px -2px rgba(0,0,0,.2);
    z-index: 1;
}

.nav-grid {
    height:100%;
}

.nav-grid-elem {
    height:100%;
}

.cook-box {
    color: #8BA93E;
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
    flex-grow:1;
}

.cook-box:hover {
    color: rgb(126, 150, 67);
}

.cook-box:active {
    color: rgb(99, 119, 50);
}

.new-recipe {
    color: white;
    background-color: #de6a57;
    flex-grow: 1;
    border:none;
    height:100%;
    font-size: 1em;
    font-weight:bold;
    border-radius: 25px;
    padding: 0 20px 0 20px;
    text-transform: uppercase;
    box-shadow: 0 4px 2px -2px lightgrey;
    outline:0;
}

.new-recipe:hover {
    cursor:pointer;
    background-color: #ca5c4b;
    outline:0;
}

.new-recipe:active {
    outline: 0;
    box-shadow: inset 0px 0px 5px lightgrey;
}

.new-recipe:visited {
    outline:0;
}

.search-bar {
    /* display: 'flex'; */
    min-width: 100%;
    max-width: 100%;
    height: 100%;
    /* margin: 0 5vh 0 5vh; */
    /* vertical-align: middle; */
    flex-grow: 2;
    flex-basis: 50%;
    /* padding:22px; */
    transition: .2s ease-out
}

.search-bar.Mui-focused {
    border-radius: 25px;
    border: 1.5px solid #8BA93E;
    padding: 20px;
    transition: all .1s ease-out;
}

.recipe-grid {
    position:relative;
    top:100px;

}

.recipe-card {
    position:relative;
    height: 300px;
    min-width: 200px;
    max-width: 400px;
}

.MuiCard-root {
    box-shadow: 0 4px 2px -2px #3e8ba9, 0 2px 5px lightgrey !important;
    cursor: pointer;
    border-radius:5px !important;
    border: 1px 1px 0 1px solid black !important;
    background-color: rgb(252, 252, 252) !important;
}

.MuiCard-root:hover {
    top: -2px;
}

.MuiCard-root:active {
    top:0;
    box-shadow: inset 0px 0px 5px rgb(182, 182, 182) !important;
}

.card-buttons {
    position:absolute;
    color:whitesmoke;
    z-index: 1;
    /* background: rgba(185, 100, 107, 0.918); */
    background: #3e8ba9;
    bottom:0;
    right:0;
    width:100%;
    transition: background .2s linear;
}