.App {
    text-align: center;
    background-color: whitesmoke;
    height: 100vh;
}

.App-logo {
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
     color: #09d3ac;
}

.nav-bar {
    display: 'flex';
    flex-direction: row;
    position:fixed;
    top:0;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    height: 50px;
    color: whitesmoke;
    background-color: white;
    /* border-bottom: .2vh solid whitesmoke; */
    /* margin: 0 0 5vh 0; */
    box-shadow: 0 3px 5px -2px rgba(0,0,0,.2);
    z-index: 1;
}

.nav-links {
    color: #000;
    text-decoration: none;
    vertical-align: middle;
    font-size: 2em;
}

.nav-links:visited {
    color: #000;
}

.search-bar {
    /* display: 'flex'; */
    min-width: 50%;
    max-width: 60%;
    height: 100%;
    margin: 0 5vh 0 5vh;
    vertical-align: middle;
}

.recipe-grid {
    position:relative;
    top:100px;

}

.recipe-card {
    position:relative;
    height: 300px;
    min-width: 200px;
}

.card-buttons {
    position:absolute;
    z-index: 1;
    background: rgba(196, 202, 230, 0.9);
    bottom:0px;
    right:0px;
    width:100%;
    transition-timing-function: ease-in-out;
    transition: .2s;
}